/* GLOBAL */

:root {
  --font-text: 'Montserrat', sans-serif;
}

body {
  background-color: #423E3A;
}

/* HEADER */
header {
  height: 600px;
  background-color: #fff;
}

.girl-image {
  width: 250px;
  height: 240px;
  margin-top: 100px;
  margin-right: 35px;
  background-image: url('./img/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  margin-top: 120px;
  font-family: var(--font-text);
  color: #010101;
}

.main-container h1 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.main-title {
  border: 3px solid rgb(156, 142, 114);
}

.main-container h3 {
  margin: 70px 0 0;
  letter-spacing: 2px;
  font-size: 3rem;
  font-family: 'Poiret One', cursive;
}

.header-service {
  margin: auto;
  height: 50px;
  background-color: rgb(156, 142, 114);
  border-radius: 0;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

.header-service__text {
  font-family: 'Poiret One', cursive;
  font-size: 23px;
  letter-spacing: 2px;
}

.header {
  position: absolute;
  top: 0;
  height: 75px;
  color: #010101;
  z-index: 1;
}

.pages-list {
  margin-right: 50px;
  padding: 0;
  list-style-type: none;
}

.pages-item__link {
  padding-bottom: 2px;
  color: #010101;
  font-size: 14px;
  font-family: var(--font-text);
  font-weight: 300;
  margin-left: 30px;
  letter-spacing: 2px;
}

.pages-item__link:hover {
  color: #010101;
  text-decoration: none;
  border-bottom: 2px solid rgb(156, 142, 114);
}

.active {
  border-bottom: 2px solid rgb(156, 142, 114);
}

/* SHOWCASE */
.showcase-image {
  height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.caption {
  position: absolute;
  top: 100px;
  margin: 220px 0 0;
  color: #fff;
  background-color: rgba(23, 24, 23, 0.3);
}

.showcase-motto {
  color: wheat;
  font-size: 4rem;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 5px;
}

/* QUOTE */
.quote {
  flex-direction: column;
  padding: 50px 0;
}

.quote-title {
  font-size: 1.5rem;
  font-family: var(--font-text);
  letter-spacing: 5px;
}

.quote-desc {
  font-size: 1rem;
  font-family: var(--font-text);
  letter-spacing: 2px;
}

/* SERVICE */
.service {
  width: 100%;
  padding-top: 80px;
}

.service-card__container {
  height: 500px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100);
}

.service-card__container:hover {
  transition: all 0.5s;
  filter: none;
} 

.service-title {
  color: #010101;
  font-size: 2rem;
  font-family: var(--font-text);
  font-weight: 700;
  letter-spacing: 2px;
}

.adjust-service__title {
  color: #fff;
}

.adjust-service__block {
  background-color: #010101;
}

.service-link {
  width: 100%;
  color: #472d2d;
  font-size: 16px;
  font-family: var(--font-text);
  font-weight: 600;
  box-shadow: 0 2px 5px #010101;
}

.service-link:hover {
  color: #472d2d;
  text-decoration: none;
}

.adjust-service__link {
  width: 65%;
}

.lines:hover {
  border-right: 5px solid #7a4c4c;
  border-left: 5px solid #7a4c4c;
  padding: 150px 20px 150px 20px;
  transition: all 0.5s;
}

.adjust-coloring__title {
  margin-left: 0px;
}

.hairstyles {
  background-image: url("./img/service2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  filter: grayscale(100);
}

.haircuts {
  background-image: url("./img/service3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.coloring {
  background-image: url("./img/service1.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* ABOUT */

.about {
  height: 400px;
}

.about-container {
  padding: 100px 100px 0 100px;
}

.about-container__text {
  margin: 0;
  font-family: var(--font-text);
  line-height: 30px;
  color: #010101;
}

.about-container__text::first-letter {
  font-size: 2em;
  margin-right: 2px;
  font-weight: bold;
  color: #7a4c4c;
  text-shadow: -1px -1px 1px white, 1px 1px 1px #9E9D99;
}

/* PRICES */
/* .serv {
  margin: 0; 
  font-size: 45px;
} */


/* CONTACTS */
.contacts-container {
  padding: 80px 0 80px 0;
  flex-direction: column;
}

.contacts-title__container {
  margin: 0 auto;
  border: 5px solid #7a4c4c;
  box-shadow: 0 2px 7px #7a4c4c;
}

.contacts-title {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 50px 50px 0 50px;
  font-family: var(--font-text);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #383737;
}

.contacts-desc {
  padding-top: 30px;
  color: #383737;
  font-family: var(--font-text);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1rem;
}

.email-container {
  padding-top: 20px;
}

.adjust-contacts__container {
  color: #383737;
}

.adjust-contacts__container:hover {
  color: #7a4c4c;
  text-decoration: none;
}

.adjust-contacts {
  margin-left: 10px;
  color: #383737;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
}

.adjust-contacts:hover {
  color: #7a4c4c;
}

/* FOOTER */
.footer {
  justify-content: space-around;
  height: 300px;
  background-color: #010101;
}

.footer-anchor__container {
  width: 75%;
  flex-direction: column;
  font-family: var(--font-text);
  font-size: 11px;
  padding-top: 83px;
}

.main-title__sub-container {
  letter-spacing: 2px;
}

.main-title__sub {
  padding: 10px;
  border: 1px solid wheat;
}

.footer-anchor__desc {
  width: 50%;
  margin-left: 45px;
  padding-top: 30px;
}

.footer-contacts__container {
  width: 75%;
  flex-direction: column;
  padding-top: 75px;
}

.footer-title {
  padding-bottom: 10px;
  font-family: var(--font-text);
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-contacts__desc {
  margin: 0;
  width: 40%;
  line-height: 5px;
}

.footer-adujust__desc {
  padding-top: 10px;
}

.footer-info__container {
  width: 50%;
  padding-top: 75px;
  flex-direction: column;
}

.footer-info__title {
  padding-bottom: 10px;
  font-family: var(--font-text);
  font-size: 1.3rem;
  font-weight: 700;
}

.bars-info {
  flex-direction: column;
}

.info-item {
  justify-content: space-between;
}

.footer-text__pattern {
  font-family: var(--font-text);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
}



@media (max-width: 1170px) {
  .service-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .girl-image {
    width: 200px;
    height: 200px;
    margin-right: 15px;
  }
  .main-container h1 {
    font-size: 3.5rem;
  }
  .main-container h3 {
    margin: 50px 0 0;
    font-size: 2.8rem;
  }
  .showcase-image {
    height: 100vh;
  }
  .caption {
    margin: 190px 0 0;
  }
  .showcase-motto {
    font-size: 2rem;
  }
  .service-title {
    font-size: 1.2rem;
  }
  .prices-container {
    padding-left: 60px;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    margin-bottom: 50px !important;
  }
}


@media (max-width: 760px) {
  .girl-image {
    width: 150px;
    height: 150px;
  }
  .min-main__container {
    margin-left: 50px;
  }
  .main-container {
    margin-top: 112px;
  }
  .main-container h1 {
    font-size: 2.5rem;
    line-height: 4.2rem;
  }
  .main-container h3 {
    font-size: 2.5rem;
  }
  .header-service__text {
    font-size: 20px;
  }
  .showcase-image {
    height: 80vh;
  }
  .caption {
    margin: 140px 0 0;
  }
  .showcase-motto {
    margin: 10px;
    font-size: 1.7rem;
  }
  .service-title {
    font-size: 1rem;
  }
  .lines {
    margin-top: 50px;
  }
  .lines:hover:hover {
    border: none;
  }
  .about {
    height: 500px;
  }
  .quote {
    padding: 30px 0;
  }
  .footer-contacts__container {
    padding-right: 30px;
    margin-left: 70px;
  }
  .footer-info__container {
    width: 50%;
    margin-right: 50px;
  }
  .footer-contacts__desc {
    width: 85%;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    margin-bottom: 0px !important;
  }
}

@media (max-width: 660px) {
  .pages-item__link {
    font-size: 14px;
  }
  .girl-image {
    display: none;
  }
  .main-container {
    margin-right: 20px !important;
  }
  .main-container h1 {
    font-size: 2rem;
    letter-spacing: 9px;
  }
  .main-container h3 {
    font-size: 2rem;
  }
  .header-service {
    width: 50% !important;
  }
  .header-service__text {
    font-size: 18px;
  }
  .pages-list {
    margin-right: 20px;
  }
  .pages-item__link {
    margin-left: 20px;
  }
  .showcase-image {
    height: 60vh;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    margin-bottom: 0px !important;
    width: 15px !important;
    height: 15px !important;
  }
  .caption {
    margin-top: 70px;
  }
  .showcase-motto {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .service {
    padding: 0;
    flex-direction: column;
  }
  .hairstyles {
    background-position: center;

  }
  .service-card__container {
    width: 100%;
  }
  .service-title {
    margin-top: 230px;
    font-size: 2rem;
  }
  .adjust-service__link {
    width: 60%;
  }
  .about {
    height: 800px;
  }
  .about-container {
    padding: 100px 50px 0 50px;
  }
  .contacts-title__container {
    width: 100%;
  }
  .contacts-title {
    padding: 50px 0 0;
  }
  .contacts-desc {
    line-height: 1rem;
  }
}
